*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background-color: #e7f9f0 !important;
}
/* Make the image fully responsive */
.carousel-inner img {
    width: 100%;
    height: 91vh;
}
.form-w {
    width: 50%!important;
}
.aboutimg{
    width: 100%;
    height: 80% !important;
}
#back-to-top {
    position: fixed;
    bottom: 1.4rem;
    right: 2%;
    width: 2.1rem;
    height: 2rem;
    /* background: transparent; */
    border: .2rem solid #343a40;
    border-radius: 50%;
    /* border-radius: 50%; */
    /* color: black; */
    display: none;
    font-size: 1rem;
    padding: 0;
    padding-top: .14rem;
  }
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 1.5rem;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    cursor: pointer;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  #visibility{
      position: absolute;
      top: 37.2rem;
      left: 72%;
      opacity: .4;
      display: block;
  }
  
  #visibility:hover{
      opacity: .6;
  }
  #visibilityOff{
      position: absolute;
      top: 37.2rem;
      left: 72%;
      opacity: .4;
      display: none;
  }
  #visibilityOff:hover{
      opacity: .6;
  }
  #visibilityPass{
      position: absolute;
      top: 48rem;
      left: 72%;
      opacity: .4;
      display: block;
  }
  
  #visibilityPass:hover{
      opacity: .6;
  }
  #visibilityOffPass{
      position: absolute;
      top: 48rem;
      left: 72%;
      opacity: .4;
      display: none;
  }
  #visibilityOffPass:hover{
      opacity: .6;
  }
  #visibilityConfirm{
      position: absolute;
      top: 53.4rem;
      left: 72%;
      opacity: .4;
      display: block;
  }
  
  #visibilityCofirm:hover{
      opacity: .6;
  }
  #visibilityOffConfirm{
      position: absolute;
      top: 53.4rem;
      left: 72%;
      opacity: .4;
      display: none;
  }
  #visibilityOffConfrim:hover{
      opacity: .6;
  }
  #log{
      padding-left: 22%;
  }
  #username{
    padding-left: 92%;
    margin-bottom: -2.4%;
  }
  @media only screen and (max-width: 640px) {
    .form-w {
        width: 68%!important;
    }
    #log {
        padding-left: 0;
    }
    #hide{
        display: none;
    }
    #back-to-top{
        right:2%;
    }
    #visibility {
        top: 74%;
        left: 76%;
    }
    #visibilityOff {
        top: 74%;
        left: 76%;
    }
    #visibilityPass{
        top: 97.6%;
        left: 76%;
    }
    #visibilityOffPass{
        top: 97.6%;
        left: 76%;
    }
    #visibilityConfirm {
        top: 109.6%;
        left: 76%;
    }
    #visibilityOffConfirm {
        top: 109.6%;
        left: 76%;
    }
    #username{
        padding-left: 79%;
    }
  }
  @media only screen and (max-width: 360px) {
    .form-w {
        width: 68%!important;
    }
    #log {
        padding-left: 0;
    }
    #hide{
        display: none;
    }
    #back-to-top{
        right: 2%;
    }
    #visibility {
        top: 83%;
        left: 74%;
    }
    #visibilityOff {
        top: 83%;
        left: 74%;
    }
    .block{
        display: block;
    }
    #visibilityPass {
        top: 110%;
        left: 74%;
    }
    #visibilityOffPass {
        top: 110%;
        left: 74%;
    }
    #visibilityConfirm {
        top: 123.2%;
        left: 74%;
    }
    #visibilityOffConfirm {
        top: 123.2%;
        left: 74%;
    }
    #username{
        padding-left: 66.4%;
    }
  }